SMTP_HOST = ""
SMTP_PORT = 587
SMTP_USERNAME = ""
SMTP_PASSWORD = ""
SMTP_SSL = False
SMTP_FROM = ""

MONGODB_HOST = ""
MONGODB_USERNAME = ""
MONGODB_PASSWORD = ""
MONGODB_DATABASE = ""
MONGODB_PORT = 27017

ADMIN_TOKEN = ""
TELEGRAM_BOT_TOKEN = ""

# App Settings
HOST=0.0.0.0
PORT=8000
WORKERS=1
PROJECT_NAME="Rapisardi Notifications"
API_V1_STR="/v1"
API_VERSION="1.0.0"
BACKEND_CORS_ORIGINS=[]
ENABLE_RATE_LIMITING=True

# URLs
SOSTITUZIONI_MARGHERITA_URL="https://www.rapdavservizi.it/sost/app/sostituzioni.php"
SOSTITUZIONI_TURATI_URL="https://www.rapdavservizi.it/sost/app/sostituzioni2.php"
SOSTITUZIONI_SERALE_URL="https://www.rapdavservizi.it/sost/app/sostituzioni3.php"
ORARIO_URL="https://www.rapdavservizi.it/orario"

